
 <!-- <header style="color: brown ; font-size: 50px; background-color: aquamarine; text-align: center; position: sticky; top: 0;">
      Welcome

 </header> -->


<!-- <app-helloworld></app-helloworld> -->

<!-- <app-directives-example></app-directives-example> -->


<!-- <app-parent></app-parent> -->

<!-- <app-reactive-forms-examples></app-reactive-forms-examples> -->

<!-- <app-lifecycleevents></app-lifecycleevents> -->

<div>
     Select option to navigate

     <a routerLink="/qwerty">Hello Component </a> <br>
     <a routerLink="/demo" > Demo</a>
</div>
<router-outlet></router-outlet>





 <!-- <div  app-helloworld>

 </div> -->
 

 <!-- <div class="app-helloworld">

 </div>




 
 <div class="app-helloworld">

</div> -->
