
 <!-- <header style="color: brown ; font-size: 50px; background-color: aquamarine; text-align: center; position: sticky; top: 0;">
      Welcome

 </header> -->


<!-- <app-helloworld></app-helloworld> -->

<!-- <app-directives-example></app-directives-example> -->

<!-- <app-school-parent></app-school-parent> -->


<!-- <app-parent></app-parent> -->

<!-- <app-reactive-forms-examples></app-reactive-forms-examples> -->

<!-- <app-lifecycleevents></app-lifecycleevents> -->


<div>
     Select option to navigate

     <a routerLink="/hello/shopcategory">Hello Component </a> <br>

     <a routerLink="/demo" > Demo</a>
     <li><a routerLink ="/hello/mens">Mens Section</a></li>
     <!-- <li><a routerLink ="/hello/mens/mensfootwear">Mens  Footear Section</a></li>

     <li><a routerLink ="/hello/mens/menwatch">Mens  Watch Section</a></li> -->

     <li><a routerLink ="/hello/girls">Girls Section</a></li>

     <li><a [routerLink]="['demo']"  [queryParams] = "{place : 'delhi', location: 'indiagate', pincode:78965,showData: true}">Send Data to Demo</a></li>
     <li> <a routerLink="/education"> Education</a></li>

     <li><a [routerLink]="['education']" [state]="{id:15, name:'David'}"> Education State link</a></li>
     <button (click)="userNavigate()"> Click to Navigate</button>

     <button (click)="allowUsertoNavigate()"> Click 2nd Approach</button>
</div>

<router-outlet></router-outlet>

<div>

</div>
<!-- [queryParams]="{data : 'hello',check:'test'} -->


 <!-- <div  app-helloworld>

 </div> -->
 

 <!-- <div class="app-helloworld">

 </div>




 
 <div class="app-helloworld">

</div> -->



<!-- {{cricketScore}}

<div appHoverhighlighter>
     {{student.fname}}   -  {{student.mobileno}}  -  {{student.address.street}}
</div>

<button [disabled]="isenabled" (click)="showMessage()">Submit</button>

<div   [innerText] = "student.address.street"></div> -->


