<label>Username`</label>
<input type="text" placeholder="Username" [formControl]="username">
<div *ngIf="username.invalid && (username.dirty || username.touched)">
    <span>please enter valid details</span>
</div>

<button (click)="update()">update</button>
<br>
<button (click)="submit()">Submit</button>

{{username.value}}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">lastname</th>
            <th scope="col">Place</th>
            <th scope="col">mobilenumber</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr appCustomHighlighter *ngFor="let user of userprofile; index as r; first as isFirst; last as islast">
            <td>{{r+1}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.Place}}</td>
            <td>{{user.flatno}}</td>

            <td>
                <button (click)="Editrecord(user, r)">Edit record</button>
            </td>
        </tr>
    </tbody>
</table>



<h1>Profile Details</h1>
<form [formGroup]="profile">
    <label>FirstName</label> : <input type="text" formControlName="firstname">
    <br>
    <label>Last Name</label> : <input type="text" formControlName="lastname">
    <br>
    <label>Place</label> : <input type="text" formControlName="Place">
    <br>
    <label>Mobile No</label> : <input type="text" formControlName="mobile">

    <div formGroupName="address">
        <label>flatno</label> : <input type="text" formControlName="flatno">
        <br>
        <label>street</label> : <input type="text" formControlName="street">
        <br>
        <label>city</label> : <input type="text" formControlName="city">
        <br>
        <label>state</label> : <input type="text" formControlName="state">
        <div *ngIf="state?.invalid &&  isSubmitted ||( state?.touched)">
            <div [hidden]="!state?.errors?.['required']">
                Please Enter the required Field
            </div>

        </div>
    </div>
    <h2>Contact</h2>
    <div formArrayName="contacts">
        <button (click)="addContactDetails()">Add contact</button>
        <div *ngFor="let contact of contacts.controls; index as i" [formGroupName]="i">
            <label>Name</label>
            <input type="text" formControlName="name"> <br>

            <label>Mobile Number</label>
            <input type="text" formControlName="phone">
            <div *ngIf="contact.get('phone')?.invalid && isSubmitted || ( contact.get('phone')?.touched)">
                <div [hidden]="!contact.get('phone')?.errors?.['required']">
                    Please Enter the required Field
                </div>
               
            </div>
        </div>
    </div>
    



</form>
<button (click)="SubmitProfile()"> Submit Profile</button>
<button (click)="updateProfile()"> update Profile</button>


<h1>Education Details</h1>
<form [formGroup]="educationDetails">
    <label>Qualification <span style="color: red;">*</span></label> : <input type="text"
        formControlName="qualification">
    <div *ngIf="educationDetails.controls['qualification'].invalid && 
        (educationDetails.controls['qualification'].dirty || educationDetails.controls['qualification'].touched)">
        Please Enter the required Field
    </div>
    <br>
    <label>Passout Year</label> : <input type="text" formControlName="passoutYear">
    <!-- <div *ngIf="educationDetails.controls['passoutYear'].invalid && 
    (educationDetails.controls['passoutYear'].dirty || educationDetails.controls['passoutYear'].touched)">
        Please Enter the required Field
    </div> -->


    <div *ngIf="educationDetails.controls['passoutYear'].invalid && 
    (educationDetails.controls['passoutYear'].dirty || educationDetails.controls['passoutYear'].touched)">
        <div *ngIf="educationDetails.controls['passoutYear'].errors?.['required']">
            Please Enter the required Fields
        </div>
        <div
            *ngIf="educationDetails.controls['passoutYear'].errors?.['maxlength'] || educationDetails.controls['passoutYear'].errors?.['minlength'] ">
            Please enter 4 digit only.
        </div>

    </div>
    <br>
    <label>university</label> : <input type="text" formControlName="university">


</form>
<button (click)="SubmitEducation()"> Submit Education</button>






<app-testexample></app-testexample>










<!-- <h1>student </h1>
<form [formGroup]="student">
    
    <label>Name</label> :  <input type="text" formControlName="firstname">
    <div *ngIf="student.controls['firstname'].invalid && (student.controls['firstname'].dirty ||student.controls['firstname'].touched) ">
        Please enter the required field
    </div>
    <br>
    <button (click)="studentSubmit()">STudentSubmit</button>
</form> -->